Package: com.kayfam.darkmaps
Name: DarkMaps
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Any MKMapView's will have Dark Mode enabled
Maintainer: KayFam
Author: KayFam
Section: Tweaks
